<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- CSS file -->
     <link rel="stylesheet" href="../../dist/style.css">

</head>
<body>

    <main>
        
        <!-- navbar starts here -->
        <header class="bg-purple-600">
            <section class="p-8 max-w-screen-xl mx-auto">
                
                <nav class="flex justify-between items-center">
                   <div>
                       <!-- <img src="../../public/images/ourLogo.png" alt="Logo" class="w-24 h-30"> -->
                        <a href="./index.html" class="navbar-items">Code Squad</a>
                   </div>
        
                   <div class="">
                       <ul class="flex justify-between items-center gap-6">
                           <li><a href="./index.html" class="navbar-items">Home</a></li>
                           <li><a href="#about" class="navbar-items">About</a></li>
                           <li><a href="#teams" class="navbar-items">Teams</a></li>
                           <li><a href="#contact" class="navbar-items">Contact</a></li>
                       </ul>
                   </div>
           
                </nav>
            </section>
    
        </header>
        <!-- navbar starts here -->

        <!-- Home page starts here -->
        <div class="relative h-[500px]">

            <img src="../../public/images/billboard_img.jpg" alt="Welcome Image" class="w-full h-full object-cover">

            <section class="p-8 max-w-screen-xl mx-auto">
                <div class="absolute inset-0 flex flex-col items-center justify-center text-center text-white p-2">
    
                    <h1 class="text-5xl font-bold text-white">Welcome to our CodeSquad official website!</h1>
    
                    <p class="text-lg text-gray-300 mt-5">This is a sample website created by our team. Enjoy exploring!</p>
    
                    <button class="bg-purple-800 rounded-xl text-normal text-white text-center p-3 font-orbitron text-md mt-5">Explore More</button>
                </div>

            </section>
        </div>
        

        
    </main>

    <!-- navbar -->



    





    <!-- JS file -->
    <script src="../js/main.js"></script>
</body>
</html>